<html>
    <head>
        <title>Enigma Machine Instructions</title>
        <link rel="stylesheet" type="text/css" href="/static/sinister.css">
    </head>
    <body>
        <h1>Enigma Machine Instructions</h1>
        <p>1. Set 3 out of 5 rotor positions (r1, r2, r3, r4, r5).</p>
        <p>2. Define plugboard connections in the format 'A:B / C:D'.</p>
        <p>3. Enter the message you want to encrypt in the provided JSON field - "message": "hello".</p>
        <a href="/action/">Go to Action Page</a>
    </body>
</html>
